// larger form controls i.e. input boxes
.form-control-xl {
  height: calc(1.5em + 1.75rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.form-group {
  &.indent-level-1 {
    padding-left: 1.5rem!important;
  }

  &.indent-level-2 {
    padding-left: 3rem!important;
  }

  &.indent-level-3 {
    padding-left: 6rem!important;
  }
}