// page font
html, body, p {
  @include muli-font-family;
  color: $dark-gray;
  font-size: 16px;
  line-height: 1.5;
}

// logo height restriction so it fits on a page and looks good
img.logo {
  height: 150px;
  width: auto;
}

// footer styles
.footer {
  .nav {
    li {
      &:first-child {
        a:before {
          content: none;
        }
      }
      a {
        padding-right: 0;

        &:before {
          display: inline-block;
          padding-right: 1rem;
          padding-left: 1rem;
          color: #6c757d;
          content: "|";
        }
      }
    }
  }
}

// stepper progress styles
.step.active {
  &:first-child {
    button {
      padding-left: 0;
    }
  }
}
.step {
  button {
    cursor: default !important;

    &:hover {
      background-color: transparent !important;
    }

    &:focus {
      color: #6c757d !important;
    }
  }
}

// tables - remove borders
.borderless td, .borderless th {
  border: none;
}
