html, body, p {
  @include muli-font-family;
  color: $dark-gray;
  font-size: 16px;
  line-height: 1.5;
}

.sign-in-with-linkedin {
  background: url("../../assets/images/signin_with_linkedin-buttons/Retina/Sign-In-Small---Default.png") no-repeat center;
  //width: 292px;
  height: 40px;
  display: block;
  max-width: 100%;
  //height: auto;

  &:hover {
    background-image: url("../../assets/images/signin_with_linkedin-buttons/Retina/Sign-In-Small---Hover.png");
  }
}